img{
    width: 400px;
    height: 400px;
}
body{ background-color: black;
color: azure;
font-family: Helvetica, 'Times New Roman', sans-serif;}
h2{
    font-weight: bold;
}
ul{
    font-style: italic;
}